.c-banner {
    width: 100%;
    padding: 5px;
    position: relative;
}

.c-banner .c-content{
    width: 100%;
    min-height: 30px;
    text-align: left;
    display: block;
    font-size: 14px;
    padding: 5px;
    border: 1px solid var(--main_color);
    border-radius: 4px;
}

.c-banner .c-img{
    width: 100%;
}

.c-banner .c-close{
    padding: 0 3px;
    height: 14px;
    position : absolute;
    z-index: 100;
    display: block;
    top: 9px;
    right: 9px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--main_color);
    color: var(--main_color);
    font-size: 9px;
}