*{
    font-family: Verdana, Geneva, sans-serif;
    box-sizing: border-box;
}

/* :root{
    --bg_color:white;
    
    --main_color:#1874CD;
    --mid_color: #7EC0EE;
    --light_color: #e7f8fd;

    --font_color: #444444;
    --light_font_color: #BBBBBB;

    --error_color: red;
    --warn_color: orange;
    
    --anti_color: white;
    --deep_anti_color: #dddddd;
} */

html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,h2,h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

ul, ol, li, a, label {
    padding: 0;
    margin: 0;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid var(--main_color);
    opacity: 0.5;
}

