/* 变量 */
:root{
    --border_color:#313131;
    --bg_light_color:rgb(225, 225, 225);
    --bg_color:rgb(146, 144, 144);
    --bg_dark_color:black;
    --font_color: white;
    --font_dark_color: black;
}


/* 编辑器样式 */
.editor {
    width: 100%;
    min-width: 600px;
    min-height: 500px;
}

.group {
    width: 100%;
    padding: 8px 5px;
    word-wrap: break-word;
    background-color: var(--bg_light_color);
}
.group .item {
    width: auto;
    min-width: 60px;
    height: 25px;
    line-height: 16px;
    display: inline-block;
    font-size: 10px;
    padding: 5px;
    margin-left: 2px;
    margin-top: 2px;
    background-color: var(--bg_color);
    color: var(--font_color);
    cursor: pointer; 
}

.component {
    width: 10%;
    min-height: 100%;
    padding: 5px;
    float: left;
}
.component .item {
    width: 100%;
    height: auto;
    min-height: 25px;
    word-wrap: break-word;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: var(--bg_color);
    color: var(--font_color);
    cursor: pointer; 
}

.board {
    width: 90%;
    min-width: 540px;
    padding: 3px;
    float: right;
}

.board .init,
.board .block,
.board .before,
.board .after,
.board .flow {
    width: 100%;
    height: auto;
    min-height: 140px;
    padding: 10px 8px;
    word-wrap: break-word;
    background-color: var(--bg_light_color);
    color: var(--font_color);
    margin-bottom: 10px;
}

.board .title {
    width: 100%;
    height:  auto;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 5px;
    margin-bottom: 12px;
    text-align: left;
    color: var(--font_dark_color);
}

.board .component-item {
    width: auto;
    min-width: 60px;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    margin-left: 2px;
    margin-top: 2px;
    background-color: var(--bg_color);
    color: var(--font_color);
    cursor: pointer; 
}

.board .line-item {
    height: 35px;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    margin-left: 2px;
    margin-top: 2px;
    color: var(--font_dark_color);
}

.board .settings-item {
    width: auto;
    min-width: 35px;
    height: 35px;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 50%;
    background-color: var(--bg_dark_color);
    color: var(--font_color);
    cursor: pointer; 
}

.board .path-item{
    width: auto;
    min-width: 35px;
    height: 35px;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    text-align: center;
    padding: 5px 9px;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 17px;
    background-color: var(--bg_dark_color);
    color: var(--font_color);
}

.board .flow-item {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: var(--border_color);
}

hr {
    height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid var(--bg_color);
    opacity: 0.7;
}

/* 公共样式 */
* {
    box-sizing: border-box;
}

body {
    padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,h2,h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

ul, ol, li, a, label {
    padding: 0;
    margin: 0;
}