/* 变量 */
:root{
    --border_color:#313131;
    --bg_light_color:rgb(225, 225, 225);
    --bg_color:rgb(146, 144, 144);
    --bg_dark_color:black;
    --font_color: white;
    --font_light_color: rgb(146, 144, 144);
    --font_dark_color: black;
}


/* 编辑器样式 */
.editor {
    width: 100%;
    min-width: 600px;
    min-height: 500px;
}

.group {
    width: 100%;
    padding: 8px 5px;
    word-wrap: break-word;
    background-color: var(--bg_light_color);
}
.group .item {
    width: auto;
    min-width: 60px;
    height: 35px;
    line-height: 16px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    margin-top: 2px;
    background-color: var(--bg_color);
    color: var(--font_color);
    cursor: pointer; 
}

.group .item-checked {
    width: auto;
    min-width: 60px;
    height: 35px;
    line-height: 16px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    padding: 10px;
    margin-right: 5px;
    margin-top: 2px;
    background-color: var(--font_dark_color);
    color: var(--font_color);
}

.component {
    width: 10%;
    min-height: 100%;
    padding: 5px;
    float: left;
}
.component .item {
    width: 100%;
    height: auto;
    min-height: 23px;
    word-wrap: break-word;
    font-size: 10px;
    padding: 10px 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: var(--bg_color);
    color: var(--font_color);
    cursor: pointer; 
}

.board {
    width: 90%;
    min-width: 540px;
    height: 100%;
    padding: 3px;
    float: right;
}

.board .init,
.board .block,
.board .before,
.board .after,
.board .flow {
    width: 100%;
    height: auto;
    min-height: 140px;
    padding: 10px 8px;
    word-wrap: break-word;
    background-color: var(--bg_light_color);
    color: var(--font_color);
    margin-bottom: 10px;
}

.board .title {
    width: 100%;
    height:  auto;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 5px;
    margin-bottom: 12px;
    text-align: left;
    color: var(--font_dark_color);
}

.board .title .add-item {
    padding: 1px 6px;
    height:  auto;
    display: inline-block;
    margin-left: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    color: var(--font_color);
    cursor: pointer;
    background-color: var(--bg_color);
    border-radius: 50%;
}

.board .component-item {
    width: auto;
    min-width: 60px;
    height: 35px;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    padding: 5px;
    text-align: center;
    margin-left: 2px;
    margin-top: 2px;
    background-color: var(--bg_color);
    color: var(--font_color);
    cursor: pointer;
}

.board .line-item {
    height: 35px;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    margin-left: 2px;
    margin-top: 2px;
    color: var(--font_dark_color);
}

.board .settings-item {
    width: auto;
    min-width: 35px;
    height: 35px;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 50%;
    background-color: var(--bg_dark_color);
    color: var(--font_color);
    cursor: pointer; 
}

.board .path-item{
    width: auto;
    min-width: 35px;
    height: 35px;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    text-align: center;
    padding: 5px 9px;
    margin-left: 2px;
    margin-top: 2px;
    border-radius: 17px;
    background-color: var(--bg_dark_color);
    color: var(--font_color);
}

.board .flow-item {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: var(--border_color);
}

.simply-window {
    width: 40%;
    height: auto;
    position: absolute;
    display: block;
    top: 80px;
    left: 30%;
    border: 1px solid var(--bg_dark_color);
}

.simply-window .body {
    width: 100%;
    height: 180px;
    padding: 8px;
    background-color: var(--bg_light_color);
    text-align: center;
}

.simply-window .body .item {
    width: 100%;
    padding: 8px 10px;
    text-align: left;
}

.simply-window .body .item .label {
    width: 30%;
    text-align: right;
    display: inline-block;
}

.simply-window .body .item .control {
    width: 65%;
    text-align: left;
    display: inline-block;
}

.simply-window .body .continue {
    padding: 5px;
    width: 80px;
    background-color: var(--bg_color);
    color: var(--font_color);
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.from-window {
    width: 60%;
    height: auto;
    position: absolute;
    display: block;
    top: 80px;
    left: 20%;
    border: 1px solid var(--bg_dark_color);
}

.simply-window .title,
.from-window .title {
    width: 100%;
    height: 37px;
    padding: 8px;
    border-bottom: 1px solid var(--bg_dark_color);
    background-color: var(--bg_dark_color);
    color: var(--font_color);
}

.simply-window .title .close,
.from-window .title .close {
    width: 30px;
    height: 30px;
    margin: -5px 0;
    padding: 5px;
    text-align: center;
    display: block;
    float: right;
    cursor: pointer; 
}

.from-window .body {
    width: 100%;
    height: 500px;
    padding: 8px;
    background-color: var(--bg_light_color);
    overflow-y: scroll;
    text-align: center;
}

.from-window .body .item {
    width: 100%;
    padding: 8px 10px;
    text-align: left;
}

.from-window .body .item .label{
    width: 100%;
}
.from-window .body .item .label .key{
    width: 100%;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 2px;
}
.from-window .body .item .label .name {
    font-size: 10px;
    padding: 3px 4px;
    display: inline-block;
    color: var(--font_color);
    background: var(--bg_color);
}
.from-window .body .item .label .desc {
    width: 100%;
    min-height: 16px;
    font-size: 10px;
    padding: 3px 5px;
    display: inline-block;
    color: var(--font_color);
    background: var(--bg_color);
    border-radius: 4px;
    margin: 2px 0;
}
.from-window .body .item .flag {
    min-width: 16px;
    font-size: 10px;
    display: inline-block;
    padding: 3px 4px;
    margin-left: 6px;
    text-align: center;
    background-color: var(--bg_color);
    color: var(--font_color);
    cursor: pointer; 
}

.from-window .body .item .control {
    width: 100%;
    padding: 5px 0;
}

.from-window .body .item .control .line {
    width: 100%;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 2px;
}

.from-window .body .item .control .line .input {
    width: 200px;
}

.from-window .body .item .control .line textarea {
    width: 400px;
    min-height: 100px;
    display: inline-block;
}

.from-window .body .item .control .line .line-component {
    width: auto;
    min-width: 50px;
    height: 35px;
    display: inline-block;
    padding: 5px;
    background-color: var(--bg_color);
    vertical-align: top;
    color: var(--font_color);
    font-size: 10px;
    text-align: center;
    cursor: pointer;
}

.from-window .body .item .control .line .line-next-flag {
    width: auto;
    min-width: 25px;
    height: 35px;
    line-height: 30px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

.from-window .body .item .control .line .select {
    min-width: 100px;
    height: 23px;
    display: inline-block;
    font-size: 12px;
}

.from-window .body .item .control .line .fold {
    font-size: 12px;
    padding: 3px 4px;
    display: inline-block;
    background-color: var(--bg_color);
    color: var(--font_color);
    cursor: pointer;
}

.from-window .body .item .control .line .sub-items {
    width: auto;
    height: auto;
    display: block;
    padding-left: 15px;
}

.from-window .body .continue {
    padding: 5px;
    width: 80px;
    background-color: var(--bg_color);
    color: var(--font_color);
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

hr {
    height: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid var(--bg_color);
    opacity: 0.7;
}

/* 公共样式 */
* {
    box-sizing: border-box;
}

body {
    padding: 10px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,h2,h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h4,h5,h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

ul, ol, li, a, label {
    padding: 0;
    margin: 0;
}