.c-breadcrumb {
  width: 100%;
  padding: 5px;
  text-align: left;
  background-color: var(--light_color);
}

.c-breadcrumb ol{
  list-style: none;
  margin: 0;
  padding-left: 10px;
}

.c-breadcrumb li {
  display: inline;
}

.c-breadcrumb li:not(:last-child):after {
  content: "/";
  margin: 0 5px;
}

.c-breadcrumb li a {
  text-decoration: none;
  color: var(--font_color);
}

.c-breadcrumb li a:hover {
  text-decoration: underline;
  color: var(--main_color);
}