.c-navbar {
  width: 100%;
}

.c-navbar .c-main{
  width: 100%;
  height: 40px;
  padding: 0 5px;
  background-color: var(--main_color);
}

.c-navbar .c-main .c-brand{
  height: 40px;
  padding: 8px 10px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.c-navbar .c-main .c-brand img{
  width: 35px;
  height: 35px;
}

.c-navbar .c-main .c-brand span{
  color: var(--anti_color);
  font-weight: bold;
  font-size: 16px;
}

.c-navbar .c-main .c-body{
  height: 40px;
  padding: 0;
  margin: 0 0 0 30px;
  display: inline-block;
  vertical-align: top;
}

.c-navbar .c-main .c-body .c-navs{
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  padding: 0;
}

.c-navbar .c-main .c-body .c-navs li{
  margin-right: 10px;
}

.c-navbar .c-main .c-body .c-navs li span{
  color: var(--anti_color);
  font-weight: bold;
  cursor: pointer;
  padding: 10px 10px;
  display: inline-block;
}

.c-navbar .c-main .c-body .c-navs li .c-active{
  background-color: var(--anti_color);
  color: var(--main_color);
}

.c-navbar .c-main .c-body .c-children{

}

.c-navbar .c-main .c-opts{
  height: 40px;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.c-navbar .c-main .c-opts ul{
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  padding: 0;
}

.c-navbar .c-main .c-opts li{
  margin-right: 8px;
}

.c-navbar .c-main .c-opts li span{
  color: var(--anti_color);
  cursor: pointer;
}

/*{*/
/*  "external": {*/
/*    "tag": "nav",*/
/*    "class": "navbar navbar-default",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "navBar": {*/
/*    "tag": "div",*/
/*    "class": "container-fluid",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "brand": {*/
/*    "tag": "div",*/
/*    "class": "navbar-header",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "brandContent": {*/
/*    "tag": "a",*/
/*    "class": "navbar-brand",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "brandImgContent": {*/
/*    "tag": "img ",*/
/*    "class": "",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "brandTextContent": {*/
/*    "tag": "span",*/
/*    "class": "",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "body": {*/
/*    "tag": "div",*/
/*    "class": "collapse navbar-collapse",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "bodyNav": {*/
/*    "tag": "ul",*/
/*    "class": "nav navbar-nav",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "bodyNavItem": {*/
/*    "tag": "li",*/
/*    "class": "",*/
/*    "style": "cursor:pointer;",*/
/*    "properties": {}*/
/*  },*/
/*  "bodyNavItemText": {*/
/*    "tag": "a",*/
/*    "class": "dropdown-toggle",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "bodyNavItemTextActive": {*/
/*    "tag": "a",*/
/*    "class": "dropdown-toggle",*/
/*    "style": "font-weight:bold;",*/
/*    "properties": {}*/
/*  },*/
/*  "bodyNavItemChildren": {*/
/*    "tag": "ul",*/
/*    "class": "dropdown-menu",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "bodyRight": {*/
/*    "tag": "ul",*/
/*    "class": "nav navbar-nav navbar-right",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "bodyRightItem": {*/
/*    "tag": "li",*/
/*    "class": "",*/
/*    "style": "",*/
/*    "properties": {}*/
/*  },*/
/*  "bodyRightItemButton": {*/
/*    "tag": "a",*/
/*    "class": "",*/
/*    "style": "cursor:pointer;",*/
/*    "properties": {}*/
/*  }*/
/*}*/