.c-page-turning {
  width: 100%;
  padding: 5px;
}

.c-page-turning ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  height: 25px;
  font-size: 16px;
}

.c-page-turning li{
  border: 1px solid var(--main_color);
  padding: 0 10px;
  margin: 0 20px;
  color: var(--main_color);
  cursor:pointer;
  border-radius: 5px;
}

.c-page-turning .c-disabled{
  background-color: var(--main_color);
  color: var(--anti_color);
  opacity: 0.5;
  cursor: not-allowed;
}
