.c-tab {
  width: 100%;
  padding: 5px;
}

.c-tab ul{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
  display: flex;
}

.c-tab li{
  border: 1px solid var(--main_color);
  border-bottom: 0;
  padding: 3px 5px 0;
  margin: 0 1px 0 0;
  color: var(--main_color);
  cursor:pointer;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 27px;
  align-items: center;
}

.c-tab .c-title{
  display: inline;
  padding: 0;
}

.c-tab .c-close{
  padding: 0 3px 0px 15px;
  display: inline-block;
  float: right;
  cursor: pointer;
}

.c-tab .c-active{
  background-color: var(--main_color);
  color: var(--anti_color);
}

.c-tab .c-active span{
  background-color: var(--main_color);
  color: var(--anti_color);
}

.c-tab .c-body{
  width: 100%;
  padding: 5px;
  min-height:60px;
  background-color: white;
  text-align:center;
  white-space: normal;
  word-wrap: break-word;
  border: 1px solid var(--main_color);
}