.c-tag {
  width: 100%;
  padding: 5px;
  display: inline-block;
}

.c-tag span{
  margin-right:5px;
  text-align: center;
  border: 0;
  padding: 0 8px;
}

.c-tag .c-xs{
  height: 15px;
  font-size: 7px;
  border-radius: 3px;
}

.c-tag .c-small{
  height: 20px;
  font-size: 10px;
  border-radius: 3px;
}

.c-tag .c-medium{
  height: 25px;
  font-size: 12px;
  border-radius: 3px;
}

.c-tag .c-large{
  height: 30px;
  font-size: 15px;
  border-radius: 3px;
}

.c-tag .c-default{
  background-color: var(--main_color);
  color: var(--anti_color);
}

.c-tag .c-primary{
  background-color: royalblue;
  color: var(--anti_color);
}

.c-tag .c-success{
  background-color: deepskyblue;
  color: var(--anti_color);
}

.c-tag .c-info{
  background-color: green;
  color: var(--anti_color);
}

.c-tag .c-warning{
  background-color: orange;
  color: var(--anti_color);
}

.c-tag .c-danger{
  background-color: red;
  color: var(--anti_color);
}