.c-input {
  width: 100%;
  padding: 5px;
}

.c-input .c-addon{
  background-color: var(--main_color);
  padding: 6px 5px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: var(--anti_color);
}

.c-input input{
  border: 1px solid var(--main_color);
  padding: 2px 5px;
  height: 30px;
  vertical-align: top;
  outline: none;
}

.c-input input:focus{
  outline: none;
}