.c-pop {
  width: 100%;
  padding: 5px;
}

.c-pop > div{
  padding: 5px;
  margin: 8px;
  display: inline-block;
  border-radius: 8px;
}

.c-pop .c-content{
  margin-right:5px;
  text-align: left;
  display: inline-block;
  font-size: 14px;
}

.c-pop .c-close{
  width: 20px;
  padding: 0 8px;
  display: inline-block;
  float: right;
  cursor: pointer;
  text-align: center;
}

.c-pop .c-default{
  background-color: var(--main_color);
  color: var(--anti_color);
}

.c-pop .c-success{
  background-color: deepskyblue;
  color: var(--anti_color);
}

.c-pop .c-info{
  background-color: green;
  color: var(--anti_color);
}

.c-pop .c-warning{
  background-color: orange;
  color: var(--anti_color);
}

.c-pop .c-danger{
  background-color: red;
  color: var(--anti_color);
}